@charset "UTF-8";

body {
    background-color: rgb(208, 241, 175);
    font-family: Arial, Helvetica, sans-serif
}

h1 {
    color: rgb(64, 119, 2);
}
h1#principal {
    text-align: center;
    background-image: linear-gradient(to left, blue , red);
    color: aliceblue;
}

h2 {
    color: #3a8f67;
}

.basico {
    color: #3a408f;

}

.intermediario {
    color: #8f893a;

}

.avancado {
    color: #8f3a3a;

}
